:root {
  /*Font*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /*Text colors*/
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --white-title-cl: #ffffff;
  /*Logo colors*/
  --first-logo-cl: #2196f3;
  --dark-logo-cl: #000000;
  --light-logo-cl: #ffffff;
  /*LINK colors*/
  --link-hvr-cl: #2196f3;
  --link-nav-cl: #212121;
  --contacts-hdr-cl: #757575;
  --contacts-ftr-cl-60: rgba(255, 255, 255, 0.6);
  --adress-ftr-cl: #ffffff;
  /*Background colors*/
  --accent-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  /*Button hero*/
  --hero-btn-cl: #2196f3;
  --hero-border: 1px solid #2196f3;
  --hero-btn-txt: #ffffff;
  --btn-radius: 4px;
  --hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hero-hv-cl: #188ce8;
  --modal-bg-hero: rgba(0, 0, 0, 0.2);
  --modal-border-radius: 4px;
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --vector-border-modal: rgba(0, 0, 0, 0.1);
  /*Button portfolio*/
  --btn-bg-hover: #2196f3;
  --btn-text-hover: #ffffff;
  --btn-bg-cl: #f5f4fa;
  --btn-txt-cl: #212121;
  --btn-shadow-hv: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /*Teams link*/
  --teams-bg: #ffffff;
  --teams-link-title: #212121;
  --teams-border-radius: 0px 0px 4px 4px;
  --teams-border-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /*Other*/
  --portfolio-cards-border: 1px solid #eeeeee;
  --portfolio-shadow-hv: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --portfolio-box-bg: rgba(33, 150, 243, 0.9);
  --header-border: 1px solid #ececec;
  --feature-icon-bg: #f5f4fa;
  --clients-icon-cl: #afb1b8;
  --social-icon-cl: #afb1b8;
  --social-link-bg: #2196f3;
  --social-hv-icon: #ffffff;
  --public-ftr-cl: #ffffff;
  --public-ftr-bg: rgba(255, 255, 255, 0.1);
  --public-hv-bg: #2196f3;
  /*Animation*/
  --anim-fast-hv: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-txt-cl);
  background-color: var(--accent-bg-cl);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Header*/

.header {
  border-bottom: var(--header-border);
}

.header-container {
  display: flex;
  align-items: center;
}
nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-contacts {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--dark-logo-cl);
  text-decoration: none;
}
.accent {
  color: var(--first-logo-cl);
}
.nav-item {
  list-style: none;
}
.header-item {
  list-style: none;
}
.link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;

  text-decoration: none;
  color: var(--link-nav-cl);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  position: relative;
  transition: color var(--anim-fast-hv);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.link:hover,
.link:focus {
  color: var(--link-hvr-cl);
}

.header-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 31px;

  text-decoration: none;
  color: var(--contacts-hdr-cl);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: color var(--anim-fast-hv);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link:hover,
.header-link:focus {
  color: var(--link-hvr-cl);
}

.current {
  color: var(--link-hvr-cl);
}
.current::after {
  content: '';
  display: inline-flex;
  width: 100%;
  height: 4px;
  background-color: var(--link-hvr-cl);

  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  border: none;
}
.header-svg {
  fill: currentColor;
}
/*Footer*/

.footer {
  background-color: var(--dark-bg-cl);
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contacts {
  margin-top: 20px;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--light-logo-cl);
  text-decoration: none;
}
.contacts-item {
  list-style: none;
}
.contacts-item:not(:last-child) {
  margin-bottom: 6px;
}

.link-address {
  font-style: normal;
  text-decoration: none;
  color: var(--adress-ftr-cl);
  transition: color var(--anim-fast-hv);
}
.link-address:hover,
.link-address:focus {
  color: var(--link-hvr-cl);
}
.contacts-link {
  text-decoration: none;
  font-style: normal;
  color: var(--contacts-ftr-cl-60);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-hvr-cl);
}

.public-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--public-ftr-cl);
  margin-bottom: 20px;
}
.public-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.public-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--public-ftr-cl);
  background-color: var(--public-ftr-bg);
  justify-content: center;
  align-items: center;
  transition: background-color var(--anim-fast-hv);
}
.public-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.public-link:hover,
.public-link:focus {
  background-color: var(--public-hv-bg);
}
.public-item:not(:last-child) {
  margin-right: 10px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.public-group {
  margin-left: 93px;
}
.subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: calc (16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-box {
  margin-left: 93px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--dark-bg-cl);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  color: var(--white-title-cl);
  font-size: 16px;
  line-height: calc(20 / 16);
}
.btn-subscribe {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: background-color var(--anim-fast-hv);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

/*HERO*/
.hero {
  background-color: var(--dark-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');

  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-title-cl);
  margin: 0 auto;
}
.hero-btn {
  min-width: 216px;
  min-height: 50px;
  cursor: pointer;
  transition: background-color var(--anim-fast-hv);

  padding: 9px 31px;
  margin-top: 30px;
  border: none;
  border-radius: var(--btn-radius);
  box-shadow: var(--hero-btn-shadow);

  color: var(--hero-btn-txt);
  background-color: var(--hero-btn-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-hv-cl);
}
/*Особливості*/
.feature-container {
  display: flex;
}

.feature-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  font-size: 14px;
}

.feature-text {
  color: var(--secondary-txt-cl);
}

.feature-group {
  display: flex;
  height: 120px;
  background-color: var(--feature-icon-bg);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.feature-icon {
  width: 70px;
  height: 70px;
}
/*Чим ми займаємось*/
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.work-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work {
  padding-top: 0;
}
.work-item {
  position: relative;
}

.label-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-title-cl);
  text-align: center;
}
.label-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Команда*/
.teams-group {
  background-color: var(--teams-bg);
  border-radius: var(--teams-border-radius);
  padding: 30px 32px;
}

.teams-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.teams-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  border-radius: var(--teams-border-radius);
  box-shadow: var(--teams-border-shadow);
}
.teams-item:not(:last-child) {
  margin-right: 30px;
}
.teams-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.teams {
  background-color: var(--light-bg-cl);
}
.teams-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.teams-text {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--secondary-txt-cl);
  text-align: center;
}
.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-cl);
  justify-content: center;
  align-items: center;
  transition: background-color var(--anim-fast-hv), color var(--anim-fast-hv);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--social-link-bg);
  color: var(--social-hv-icon);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
/*Clients*/

.clients-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: var(--clients-icon-cl);
  transition: color var(--anim-fast-hv), border-color var(--anim-fast-hv);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients-item {
  flex-basis: calc((100%-150px) / 6);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--link-hvr-cl);
  border-color: var(--link-hvr-cl);
}
/*Портфоліо*/
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  flex-wrap: wrap;
  list-style: none;
}
.btn {
  border-radius: 4px;
  border: none;
  padding: 6px 21px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  background-color: var(--btn-bg-cl);
  transition: background-color var(--anim-fast-hv), color var(--anim-fast-hv),
    box-shadow var(--anim-fast-hv);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text-hover);
  box-shadow: var(--btn-shadow-hv);
}
.portfolio-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-txt-cl);
  margin-top: 4px;
}
.portfolio-item {
  width: 370px;
}

.portfolio-group {
  padding: 20px 24px 19px 24px;
  border-left: var(--portfolio-cards-border);
  border-right: var(--portfolio-cards-border);
  border-bottom: var(--portfolio-cards-border);
}
.portfolio-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow var(--anim-fast-hv);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--portfolio-shadow-hv);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--anim-fast-hv);
  background-color: var(--portfolio-box-bg);
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-description {
  font-size: 18px;
  line-height: calc(28 / 14);
  color: var(--white-title-cl);
}
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}
/*Modal window hero*/
.hero-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-hero);
  z-index: 1000;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--accent-bg-cl);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--modal-border-radius);
  box-shadow: var(--modal-shadow);
}
.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--vector-border-modal);
  background-color: var(--accent-bg-cl);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill var(--anim-fast-hv);
}
.btn-close:hover,
.btn-close:focus {
  fill: #2196f3;
}
.hero-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input:focus + .modal-input-icon {
  fill: #2196f3;
}
.modal-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-agree {
  margin-bottom: 30px;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.input-label {
  color: var(--secondary-txt-cl);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  text-align: left;
}

.input-label span {
  display: block;
  margin-bottom: 4px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  cursor: pointer;
  display: block;
}
.modal-comment:focus {
  border-color: #2196f3;
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field-comment {
  margin-bottom: 20px;
}
.btn-modal {
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  background-color: #2196f3;
  color: var(--white-title-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--anim-fast-hv);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #188ce8;
}
.check-text {
  color: var(--secondary-txt-cl);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: #2196f3;
  border: transparent;
  fill: #fff;
}

.link-agree {
  color: #2196f3;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-left: 6px;
}
