/*Clients*/
.clients-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    gap: 30px;
}

.clients-link {
    display: flex;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: var(--clients-icon-cl);
    transition: color var(--anim-fast-hv), border-color var(--anim-fast-hv);
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.clients-item {
    flex-basis: calc((100%-150px) / 6);
}

.clients-link:hover,
.clients-link:focus {
    color: var(--link-hvr-cl);
    border-color: var(--link-hvr-cl);
}